:root {
    --box-title-font-size: 2.9rem;
    --form-control-common-height: 2.0rem;
    --form-label-font-size: 2.0rem;
    --form-label-min-font-size: 1.0rem;
    --result-font-size: 1.5rem;
    --common-circle-size: 2rem;
}


.circle-div {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    width: var(--common-circle-size);
    height:var(--common-circle-size);
    background-color: hsl(0, 0%, 65%);
    box-shadow: 3px -2px hsl(0, 0%, 40%);
}

div.lower-box > div.result-left-circle {
    left: 20%;
}

div.lower-box > div.result-right-circle {
    left: 20%;
}

div.upper-box, div.lower-box {
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 50%;

}

h2.box-title{
    width: 100%;
    height: fit-content;
    font-size: var(--box-title-font-size);
    text-align: center;
}

div.lower-box > h2.box-title {
    position: relative;
    display: inline-block;
    left: 20%;
    margin-left: 0%;
    margin-right: 0%;
    width: 50%;
}

[data-result="balance"] {
    background-color: hsl(147 50% 47%);
}

[data-result="unbalance"] {
    background-color: hsl(39, 100%, 50%);
}

#mainbox{
    border: 1px solid black;
    margin: 0% 25%;
    width: 50vw;
    height: 100vh;
}

#mainbox .upper-box > form {
    position: relative;
    margin: 0% 10%;
    width: 80%;
    height: fit-content;
}

#mainbox .upper-box > form * {
    margin: 0.5rem 0%;
    height: var(--form-control-common-height);
}

#mainbox .upper-box > form > label.form-label {
    font-size: var(--form-label-font-size);
}

#mainbox .upper-box > form > label.form-label-min {
    font-size: var(--form-label-min-font-size);
}

#inputToCheck {
    position: relative;
    width: 100%;
    font-size: 1.6rem;
}

#btnClear,  #btnCheck {
    --form-control-common-height: 2.5rem;
    height: var(--form-control-common-height);
}

#btnClear{
    border: 1px solid grey;
    border-radius: 16px;
    width: 24.0%;
    margin-left: 1% !important;
    margin-right: 24.0% !important;
    background-color: hsl(240, 100%, 40%);
    color: white;
    font-size: 1rem;
}

#btnClear:hover {
    background-color: hsl(240, 100%, 70%);
}

#btnCheck{
    border: 1px solid grey;
    border-radius: 16px;
    width: 24.0%;
    margin-left: 24.0% !important;
    margin-right: 1% !important;
    background-color: hsl(240, 100%, 40%);
    color: white;
    font-size: 1rem;
}

#btnCheck:hover {
    background-color: hsl(240, 100%, 70%);
}

#myResult {
    margin: 0% 10%;
    background-color: white;
    font-size: var(--result-font-size);
}

@media screen and (max-width: 699px) {
    h2.box-title {
        --box-title-font-size: 2.0rem;
        font-size: var(--box-title-font-size);
    }

    div.upper-box, div.lower-box{
        padding:  0%;
        border: none;
    }

    div.upper-box {
        max-height: 40%;
    }

    div.lower-box {
        max-height: 60%;
    }

    #mainbox .upper-box > form *{
        margin: 2% 0%;
    }
    #btnClear, #btnCheck{
        --form-control-common-height: 4rem;
        height: var(--form-control-common-height);
    }
   
    #mainbox{
        margin: 0%;
        width: 100vw;
        height: 100vh;
    }
}